.footer-container {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-container>hr {
    border: 1px solid var(--lightgray);
    width: 100%;
}

.social-images {
    display: flex;
    gap: 4rem;
}

.social-images>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.footer-logo>img {
    width: 10rem;
}

.footer-b-1 {
    width: 26rem;
    height: 12rem;
    right: 15%;
    bottom: 0;
    filter: blur(200px);
    background: red;
}